.square-button {
  width: 100px;
  height: 100px;
  background-color: transparent;
  font-size: 30px;
  color: #e84393;
  cursor: pointer;
  border: 1px solid #ddd;
  vertical-align: middle;
  margin: 5px;
  border-radius: 10px;
}
